<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - Fri. Aug 06 Introductions + Computer Setup + Intro to Unix  </h3>
    <table class="table table-striped">
      <!-- <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr> -->
      <tr> <td>1:00</td>  <td><a href="./data/slides/day_01/day_01_00_Introductions.html">Introductions</a></td> </tr>
      <tr> <td>1:30</td>  <td><a href="./data/slides/day_01/day_01_01_Setting_up_Environments.html">Setting up your environments </a></td> </tr>
      <tr> <td>2:30</td>  <td><a href="./data/slides/day_01/day_01_02_Software_to_Install.html">Software to Install </a></td> </tr>
      <tr> <td>3:00</td>  <td> BREAK</td> </tr>
      <tr> <td>3:10</td>  <td><a href="./data/slides/day_01/Unix_Basics_Bootcamp_suarez.pdf">Intro to Unix</a></td> </tr></tr>

      <tr> <td> Reference:</td>  <td><a href="http://swcarpentry.github.io/shell-novice/">http://swcarpentry.github.io/shell-novice/</a></td> </tr>



    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - Mon. Aug 09 Intro to UNIX (cont.)   </h3>
    <table class="table table-striped">
        <tr> <td>Topic:</td>  <td> Navigating Files and Directories</td> </tr>
        <tr> <td>Topic:</td>  <td> Pipes and Filters</td> </tr>
        <tr> <td>Topic:</td>  <td> Shell Scripts </td> </tr>
        <tr> <td>Topic:</td>  <td> Finding Things </td> </tr>
        <tr> <td> Reference:</td>  <td><a href="http://swcarpentry.github.io/shell-novice/">http://swcarpentry.github.io/shell-novice/</a></td> </tr>
        <tr> <td> </td>  <td> &nbsp; </td> </tr>

    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3 - Wed. Aug 11 Version Control </h3>
    <table class="table table-striped">
      <tr> <td>Topic:</td> <td>Setting up git</td> </tr>
        <tr> <td>Topic:</td> <td>Creating a Respository</td> </tr>
        <tr> <td>Topic:</td> <td>Tracking Changes</td> </tr>
        <tr> <td>Topic:</td> <td>Collaborating </td> </tr>
        <tr> <td>Reference:</td>  <td><a href="http://swcarpentry.github.io/git-novice/">http://swcarpentry.github.io/git-novice/</a></td> </tr>
        <tr> <td> </td>  <td> &nbsp; </td> </tr>

    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 - Fri. Aug 06 Computer Setup + Intro to Python  </h3>
    <table class="table table-striped">
        <tr> <td>1:30</td>  <td><a href="./data/slides/day_01/day_01_01_Setting_up_Environments.html">Setting up your environments </a></td> </tr>
        <tr> <td>2:30</td>  <td><a href="./data/slides/day_01/day_01_02_Software_to_Install.html">Software to Install </a></td> </tr>
        <tr> <td>3:30</td>  <td>BREAK</td> </tr>
        <tr> <td>3:45</td>  <td><a href="">Intro to Python </a></td> </tr>
        <tr> <td>4:15</td>  <td><a href="">Practice</a></td> </tr>
        <tr> <td>5:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 5 - Mon. Aug 09 Intro to Python (cont.) + Numpy </h3>
    <table class="table table-striped">
        <tr> <td>1:00</td>  <td><a href="">Numpy</a></td> </tr>
        <tr> <td>2:00</td>  <td><a href=""></a></td> </tr>
        <tr> <td>3:00</td>  <td>BREAK</td> </tr>
        <tr> <td>3:15</td>  <td><a href=""></a></td> </tr>
        <tr> <td>3:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 6 - Wed. Aug 11 Intro to Matplotlib </h3>
    <table class="table table-striped">
        <tr> <td>1:30</td>  <td><a href="./data/slides/day_04/day_04_01_python_2.html">Python and Anaconda II</a></td> </tr>
        <tr> <td>2:15</td>  <td>Intro to Numpy: <a href="https://mybinder.org/v2/gh/VandyAstroML/Vanderbilt_Computational_Bootcamp/master?filepath=notebooks%2FWeek_05%2F05_Numpy_Matplotlib.ipynb" target="_blank">Interactive</a> or <a href="https://nbviewer.jupyter.org/github/VandyAstroML/Vanderbilt_Computational_Bootcamp/blob/master/notebooks/Week_05/05_Numpy_Matplotlib.ipynb">normal</a></td> </tr>
        <tr> <td>3:00</td>  <td>Numpy II and Scipy: <a href="https://mybinder.org/v2/gh/VandyAstroML/Vanderbilt_Computational_Bootcamp/master?filepath=notebooks%2FWeek_09%2F09_Numpy_II_Scipy.ipynb" target="_blank">Interactive</a> or <a href="https://nbviewer.jupyter.org/github/VandyAstroML/Vanderbilt_Computational_Bootcamp/blob/master/notebooks/Week_09/09_Numpy_II_Scipy.ipynb" target="_blank">Normal</a></td> </tr>
        <tr> <td>3:45</td>  <td>Matplotlib: <a href="https://mybinder.org/v2/gh/VandyAstroML/Vanderbilt_Computational_Bootcamp/master?filepath=notebooks%2FWeek_10%2F10_Advanced_Visualization_Seaborn.ipynb" target="_blank">Interactive</a> or <a href="https://nbviewer.jupyter.org/github/VandyAstroML/Vanderbilt_Computational_Bootcamp/blob/master/notebooks/Week_10/10_Advanced_Visualization_Seaborn.ipynb" target="_blank">Normal</a></td> </tr>
        <tr> <td>5:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 7 - Fri. Aug 13 Intro to Pandas </h3>
    <table class="table table-striped">
        <tr> <td>01:30</td>  <td>Intro to Pandas: <a href="https://mybinder.org/v2/gh/VandyAstroML/Vanderbilt_Computational_Bootcamp/master?filepath=notebooks%2FWeek_08%2F08_Pandas.ipynb" target="_blank">Interactive</a> or <a href="https://nbviewer.jupyter.org/github/VandyAstroML/Vanderbilt_Computational_Bootcamp/blob/master/notebooks/Week_08/08_Pandas.ipynb" target="_blank">Normal</a></td> </tr>
        <tr> <td>03:00</td> <td><b>Optional</b> - <a href="./data/slides/day_04/2016_Boot_python_mod.pdf" target="_blank">Manipulating data in Python</a></td> </tr>
        <tr> <td>5:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 8 - Mon. Aug 16 Mini Projects ?  </h3>
    <table class="table table-striped">
        <tr> <td>01:30</td>  <td>Mini project: <a href="https://mybinder.org/v2/gh/VandyAstroML/2018_08_02_Fall_Bridge_Computational_Bootcamp_repo/master?filepath=data%2Fday_04%2Fnotebooks%2FDay_04_Data_Manipulation_in_Python.ipynb" target="_blank">Interactive</a> or <a href="https://nbviewer.jupyter.org/github/VandyAstroML/2018_08_02_Fall_Bridge_Computational_Bootcamp_repo/blob/master/data/day_04/notebooks/Day_04_Data_Manipulation_in_Python.ipynb" target="_blank">NbViewer</a></td> </tr>
        <tr> <td>5:00</td>  <td>END</td> </tr>
        <tr> <td> </td>  <td> &nbsp; </td> </tr>
        <tr> <td> </td>  <td> &nbsp; </td> </tr>

    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 7 - Wed. Aug 18 Open topics?  </h3>
    <table class="table table-striped">
        <tr> <td>1:30</td>  <td>Intro to Pandas: <a href="https://mybinder.org/v2/gh/VandyAstroML/Vanderbilt_Computational_Bootcamp/master?filepath=notebooks%2FWeek_08%2F08_Pandas.ipynb" target="_blank">Interactive</a> or <a href="https://nbviewer.jupyter.org/github/VandyAstroML/Vanderbilt_Computational_Bootcamp/blob/master/notebooks/Week_08/08_Pandas.ipynb" target="_blank">Normal</a></td> </tr>
        <tr> <td>2:00</td>  <td><a href="./data/slides/day_05/day_05_01_structuring_project.html">Structuring your project</a></td> </tr>
        <tr> <td>3:00</td>  <td><a href="./data/slides/day_02/day_02_02_ssh.html">Creating SSH Keys and how to properly SSH (optional)</a></td> </tr>
        <tr> <td>4:30</td>  <td><a href="./data/slides/day_03/day_03_02_bash_and_terminal.html">Bash and the Terminal</a></td> </tr>
        <tr> <td>4:30</td>  <td><a href="./data/slides/day_05/day_05_02_intro_git.html">Intro to Version Control (SSH key setup)</a></td> </tr>
        <tr> <td>5:00</td>  <td>END</td> </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 8 - Fri. Aug 20 Bridge Research Day! <span style="color: #0033FF">(Everyone) </span></h3>
    <table class="table table-striped">
      <tr> <td>All day</td>  <td>GO TO RESEARCH DAY! </td> </tr>


    </table>
  </div>

</div>
