<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - Aug 03 Computer Setup</h3>
    <table class="table table-striped">
      <!-- <tr> <td>Before</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr> -->
      <tr> <td>1:00</td>  <td><a href="https://www.mayoclinic.org/covid-19-self-assessment-tool">COVID-19 Self Assessment</a></td> </tr>
      <tr> <td>1:30</td>  <td><a href="./data/slides/day_01/day_01_00_Introductions.html">Introductions</a></td> </tr>
      <tr> <td>2:30</td>  <td><a href="./data/slides/day_01/day_01_01_Setting_up_Environments.html">Setting up your environments (to be revisited)</a></td> </tr>
      <tr> <td>3:30</td>  <td><a href="./data/slides/day_01/day_01_02_Software_to_Install.html">Software to Install (to be revisited)</a></td> </tr>
      <tr> <td>4:30</td>  <td><a href="./data/slides/day_02/Unix_Basics_Bootcamp_mehnaaz.pdf">Unix Tips and Tricks</a></td> </tr>
      <tr> <td>5:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - Aug 04 Intro to UNIX</h3>
    <table class="table table-striped">
        <tr> <td>1:00</td>  <td><a href="https://www.mayoclinic.org/covid-19-self-assessment-tool">COVID-19 Self Assessment</a></td> </tr>
        <tr> <td>1:30</td>  <td><a href="./data/slides/day_02/Unix_Basics_Bootcamp_mehnaaz.pdf">Unix Tips and Tricks (contd.)</a></td> </tr>
        <tr> <td>5:00</td>  <td>END</td> </tr>
        <tr> <td> </td>  <td> &nbsp; </td> </tr>
        <tr> <td> </td>  <td> &nbsp; </td> </tr>
        <tr> <td> </td>  <td> &nbsp; </td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 3 - Aug 05 Intro to UNIX (cont.)</h3>
    <table class="table table-striped">
        <tr> <td>1:00</td>  <td><a href="https://www.mayoclinic.org/covid-19-self-assessment-tool">COVID-19 Self Assessment</a></td> </tr>
        <tr> <td>1:30</td>  <td><a href="http://www.gocertify.com/quizzes/linux-practice-questions/linux-file-permissions-quiz.html ">Linux file permission quiz Q1-9</a></td> </tr>
        <tr> <td>2:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html ">Navigating Files and Directories Exercises</a></td> </tr>
        <tr> <td>3:00</td>  <td><a href="http://swcarpentry.github.io/shell-novice/03-create/index.html">Working With Files and Directories Exercises</a></td> </tr>
        <tr> <td>4:00</td>  <td><a href="./data/slides/day_02/Unix_Basics_Bootcamp_mehnaaz.pdf">Unix Tips and Tricks (contd.)</a></td> </tr>
        <tr> <td>5:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 4 - Aug 06 Version control</h3>
    <table class="table table-striped">
        <tr> <td>1:00</td>  <td><a href="https://www.mayoclinic.org/covid-19-self-assessment-tool">COVID-19 Self Assessment</a></td> </tr>
        <tr> <td>1:30</td>  <td><a href="./data/slides/day_02/Unix_Basics_Bootcamp_mehnaaz.pdf">Unix Tips and Tricks (finish) &amp; vim practice</a></td> </tr>
        <tr> <td>3:00</td>  <td><a href="./data/slides/day_05/day_05_02_intro_git.html">Intro to Version Control</a></td> </tr>
        <tr> <td>5:00</td>  <td>END</td> </tr>
        <tr> <td> </td>  <td> &nbsp; </td> </tr>
        <tr> <td> </td>  <td> &nbsp; </td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 5 - Aug 14</h3>
    <table class="table table-striped">
        <tr> <td>1:00</td>  <td><a href="https://www.mayoclinic.org/covid-19-self-assessment-tool">COVID-19 Self Assessment</a></td> </tr>
        <tr> <td>1:30</td>  <td><a href="./data/slides/day_02/Unix_Basics_Bootcamp_mehnaaz.pdf">Unix challenge</a></td> </tr>
        <tr> <td>2:00</td>  <td><a href="./data/slides/day_05/day_05_02_intro_git.html">Intro to Version Control revisited</a></td> </tr>
        <tr> <td>3:00</td>  <td><a href="./data/slides/day_03/day_03_01_python_1">Python and Anaconda I</a></td> </tr>
        <tr> <td>5:00</td>  <td>END</td> </tr>
        <tr> <td> </td>  <td> &nbsp; </td> </tr>
        <tr> <td> </td>  <td> &nbsp; </td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 6 - Aug 17</h3>
    <table class="table table-striped">
        <tr> <td>1:00</td>  <td><a href="https://www.mayoclinic.org/covid-19-self-assessment-tool">COVID-19 Self Assessment</a></td> </tr>
        <tr> <td>1:30</td>  <td><a href="./data/slides/day_04/day_04_01_python_2.html">Python and Anaconda II</a></td> </tr>
        <tr> <td>2:15</td>  <td>Intro to Numpy: <a href="https://mybinder.org/v2/gh/VandyAstroML/Vanderbilt_Computational_Bootcamp/master?filepath=notebooks%2FWeek_05%2F05_Numpy_Matplotlib.ipynb" target="_blank">Interactive</a> or <a href="https://nbviewer.jupyter.org/github/VandyAstroML/Vanderbilt_Computational_Bootcamp/blob/master/notebooks/Week_05/05_Numpy_Matplotlib.ipynb">normal</a></td> </tr>
        <tr> <td>3:00</td>  <td>Numpy II and Scipy: <a href="https://mybinder.org/v2/gh/VandyAstroML/Vanderbilt_Computational_Bootcamp/master?filepath=notebooks%2FWeek_09%2F09_Numpy_II_Scipy.ipynb" target="_blank">Interactive</a> or <a href="https://nbviewer.jupyter.org/github/VandyAstroML/Vanderbilt_Computational_Bootcamp/blob/master/notebooks/Week_09/09_Numpy_II_Scipy.ipynb" target="_blank">Normal</a></td> </tr>
        <tr> <td>3:45</td>  <td>Matplotlib: <a href="https://mybinder.org/v2/gh/VandyAstroML/Vanderbilt_Computational_Bootcamp/master?filepath=notebooks%2FWeek_10%2F10_Advanced_Visualization_Seaborn.ipynb" target="_blank">Interactive</a> or <a href="https://nbviewer.jupyter.org/github/VandyAstroML/Vanderbilt_Computational_Bootcamp/blob/master/notebooks/Week_10/10_Advanced_Visualization_Seaborn.ipynb" target="_blank">Normal</a></td> </tr>
        <tr> <td>4:30</td>  <td><a href="./data/slides/day_05/day_05_02_intro_git.html">Intro to Version Control (SSH key setup)</a></td> </tr>
        <tr> <td>5:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 7 - Aug 19</h3>
    <table class="table table-striped">
        <tr> <td>1:00</td>  <td><a href="https://www.mayoclinic.org/covid-19-self-assessment-tool">COVID-19 Self Assessment</a></td> </tr>
        <tr> <td>1:30</td>  <td>Intro to Pandas: <a href="https://mybinder.org/v2/gh/VandyAstroML/Vanderbilt_Computational_Bootcamp/master?filepath=notebooks%2FWeek_08%2F08_Pandas.ipynb" target="_blank">Interactive</a> or <a href="https://nbviewer.jupyter.org/github/VandyAstroML/Vanderbilt_Computational_Bootcamp/blob/master/notebooks/Week_08/08_Pandas.ipynb" target="_blank">Normal</a></td> </tr>
        <tr> <td>3:00</td>  <td><a href="./data/slides/day_05/day_05_01_structuring_project.html">Structuring your project</a></td> </tr>
        <tr> <td>4:00</td>  <td><a href="./data/slides/day_02/day_02_02_ssh.html">Creating SSH Keys and how to properly SSH (optional)</a></td> </tr>
        <tr> <td>4:30</td>  <td><a href="./data/slides/day_03/day_03_02_bash_and_terminal.html">Bash and the Terminal</a></td> </tr>
        <tr> <td>5:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 8 - Aug 21</h3>
    <table class="table table-striped">
        <tr> <td>1:00</td>  <td><a href="https://www.mayoclinic.org/covid-19-self-assessment-tool">COVID-19 Self Assessment</a></td> </tr>
        <tr> <td>01:30</td>  <td>Mini project: <a href="https://mybinder.org/v2/gh/VandyAstroML/2018_08_02_Fall_Bridge_Computational_Bootcamp_repo/master?filepath=data%2Fday_04%2Fnotebooks%2FDay_04_Data_Manipulation_in_Python.ipynb" target="_blank">Interactive</a> or <a href="https://nbviewer.jupyter.org/github/VandyAstroML/2018_08_02_Fall_Bridge_Computational_Bootcamp_repo/blob/master/data/day_04/notebooks/Day_04_Data_Manipulation_in_Python.ipynb" target="_blank">NbViewer</a></td> </tr>
        <tr> <td>03:00</td> <td><b>Optional</b> - <a href="./data/slides/day_04/2016_Boot_python_mod.pdf" target="_blank">Manipulating data in Python</a></td> </tr>
        <tr> <td>5:00</td>  <td>END</td> </tr>
        <tr> <td> </td>  <td> &nbsp; </td> </tr>
        <tr> <td> </td>  <td> &nbsp; </td> </tr>
    </table>
  </div>
</div>
